{% include 'testes/panel_admin_template_top.twig' %}
        <!-- Début du code -->
		<form action="" method="POST" enctype="multipart/form-data">
			{% include 'testes/user_template.twig' %}
		</form>
        
        <!-- Fin du code -->
{% include 'testes/panel_admin_template_bot.twig' %}