{% include 'testes/panel_admin_template_top.twig' %}
        <!-- Début du code -->
		<form action="" method="POST" enctype="multipart/form-data">
			<div class="form-row px-3 py-1 ml-1 mt-0">
				<div class="form-group col-md-6">
					<input type="text" class="form-control" name="inputName" placeholder="nom de l'utilisateur" >
					<div class="form-group py-3">
						<label for="avatar"> entrez avatar utilisateur </label>
						{% include 'testes/user_template.twig' %}
					</div>	
				</div>
				
			</div>
			<div class="form-row px-3 py-1 ml-1 mt-0">
				<div class="form-group col-md-6">
					<input type="text" class="form-control" name="email" placeholder="email">
				</div>
				<div class="form-group col-md-6">
					<input type="text" class="form-control" name="mot_de_passe" placeholder="mot de passe">
				</div>
				
			</div>
			
			<div class="form-row px-3 py-1 ml-1 mt-0">
				<div class="col-7">
					<textarea class="form-control" name="description" rows="3" placeholder="description"></textarea>
				</div>
				
			</div>
			
			
								
			
			{% include 'testes/adresse_template.twig' %}
			
			<button type="submit" class="btn btn-primary">Enregistrer</button>
        </form>
        <!-- Fin du code -->
{% include 'testes/panel_admin_template_bot.twig' %}