{% include 'testes/panel_admin_template_top.twig' %}
        <!-- Début du code -->
		
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="basic-addon1">@</span>
			</div>
			<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
		</div>
        
        <!-- Fin du code -->
{% include 'testes/panel_admin_template_bot.twig' %}