{% include 'webapp/template_top.twig' with template %}
            <!-- Début du code -->


            <div class="bg-primary" style="width: 100%;">
                <div class="bg-dark" style="width: 75%; margin: 0px auto 0px">
                    <h1>Acceuil</h1>
                    <br>
                    <div id="carouselExampleFade" class="carousel carousel-fade" data-ride="carousel">
                        <div class="carousel-inner w-100" style="background: center/100% url('/img/transition.jpg')">
                            <div class="carousel-item active" style="background: center/100% url('/img/oeuvre/Photo-site-oeuvre-dart-1.jpg') no-repeat; padding-top: 100%;" data-interval="1000">
                            </div>
                            <div class="carousel-item" style="background: center/100% url('/img/transition.jpg'); padding-top: 100%;" data-interval="10">
                            </div>
                            <div class="carousel-item" style="background: center/100% url('/img/oeuvre/oeuvre-d-art-contemporain-adolescent-13-agusil.jpg'); padding-top: 100%;" data-interval="1000">
                            </div>
                            <div class="carousel-item" style="background: center/100% url('/img/transition.jpg'); padding-top: 100%;" data-interval="10">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Fin du code -->

{% include 'webapp/template_bot.twig' %}