{% include 'webapp/template_top.twig' with template %}
             <!-- Début du style -->

            <style>



							.bob
							{
								background-color: #ffffffb3;

								

							}

              .thumbnail 
              {
                display: block;
                padding: 4px;
                    padding-top: 4px;
                    padding-right: 4px;
                    padding-bottom: 4px;
                    padding-left: 4px;
                margin-bottom: 0px;
                line-height: 1.42857143;
                background-color: #fff;
                border: 1px solid #ddd;
                    border-top-color: rgb(221, 221, 221);
                    border-top-style: solid;
                    border-top-width: 1px;
                    border-right-color: rgb(221, 221, 221);
                    border-right-style: solid;
                    border-right-width: 1px;
                    border-bottom-color: rgb(221, 221, 221);
                    border-bottom-style: solid;
                    border-bottom-width: 1px;
                    border-left-color: rgb(221, 221, 221);
                    border-left-style: solid;
                    border-left-width: 1px;
                    border-image-outset: 0;
                    border-image-repeat: stretch;
                    border-image-slice: 100%;
                    border-image-source: none;
                    border-image-width: 1;
                border-radius: 4px;
                    border-top-left-radius: 150px;
                    border-top-right-radius: 150px;
                    border-bottom-right-radius: 0px;
                    border-bottom-left-radius: 0px;
                -webkit-transition: border .2s ease-in-out;
                    transition-property: border;
                    transition-duration: 0.2s;
                    transition-timing-function: ease-in-out;
                    transition-delay: 0s;
                -o-transition: border .2s ease-in-out;
                transition: border .2s ease-in-out;
                    transition-property: border;
                    transition-duration: 0.2s;
                    transition-timing-function: ease-in-out;
                    transition-delay: 0s;


                max-width: 70%;
                margin: auto;
                

              }



              .chocolat
              {
                
                
                display: block;
                padding: 4px;
                    padding-top: 4px;
                    padding-right: 4px;
                    padding-bottom: 4px;
                    padding-left: 4px;
                margin-bottom: 0px;
                line-height: 1.42857143;
                background-color: #fff9;
                border: 1px solid #ddd;
                    border-top-color: rgb(221, 221, 221);
                    border-top-style: solid;
                    border-top-width: 1px;
                    border-right-color: rgb(221, 221, 221);
                    border-right-style: solid;
                    border-right-width: 1px;
                    border-bottom-color: rgb(221, 221, 221);
                    border-bottom-style: solid;
                    border-bottom-width: 1px;
                    border-left-color: rgb(221, 221, 221);
                    border-left-style: solid;
                    border-left-width: 1px;
                    border-image-outset: 0;
                    border-image-repeat: stretch;
                    border-image-slice: 100%;
                    border-image-source: none;
                    border-image-width: 1;
                border-radius: 4px;
                    border-top-left-radius: 0px;
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 4px;
                    border-bottom-left-radius: 4px;
                -webkit-transition: border .2s ease-in-out;
                    transition-property: border;
                    transition-duration: 0.2s;
                    transition-timing-function: ease-in-out;
                    transition-delay: 0s;
                -o-transition: border .2s ease-in-out;
                transition: border .2s ease-in-out;
                    transition-property: border;
                    transition-duration: 0.2s;
                    transition-timing-function: ease-in-out;
                    transition-delay: 0s;


                max-width: 70%;
                margin: auto;
              }
            </style>

             <!-- fin du style -->

            <!-- Début du code -->


            <div style="width: 100%; background: url('/ressources/background_custom_lightGray.png');">
                <div style="width: 75%; margin: 0px auto 0px; background: url('/ressources/background_custom_gray.png');">
                    <section id="Main" class="container-fluid" style="padding-bottom: 100px;">
                        <div class="row" style="text-align: center;">
                          <div style="padding-top: 25px; padding-bottom: 100px; width: 100%;" class="cheze">
                            <h1 style="font-weight: 1000; font-size: calc(12vmin);"><b> OANI </b></h1>
                            <p style="font-size: 40px"> Locations d'oeuvres de père en fils depuis 1984 </p>
                          </div>
                        </div>
                          <div class="row" style="margin: 0px;">
                            <div class="col-4">
                              <a href="/%C5%93uvre" style="text-decoration: none; color: black">
                                <div class="bg-light" style="border-top-left-radius: 50%; border-top-right-radius: 50%; text-align: center; padding-top: 5%;">
                                  <br>
                                  <h2> <b> ŒUVRES </b> </h2>
                                  <div style="padding-top: 100%; background: center/100% 100% no-repeat url('https://www.parisinfo.com/var/otcp/sites/images/media/1.-photos/80.-photos-sugar/autres-professionnels/carre-d-artistes-galerie-1-630x405-c-otcp-dr/5092301-1-fre-FR/Carre-d-Artistes-Galerie-1-630x405-C-OTCP-DR.jpg'); border-radius: 50%">
                                  </div>
                                  <br>
                                  <div style="padding: 0px 25px">
                                    <h3>Venez découvrir notre galerie d'œuvres d'art spécialisé dans le street art !</h3>
                                  </div>
                                  <br>
                                </div>
                              </a>
                            </div>
                            <div class="col-4">
                              <a href="/artiste" style="text-decoration: none; color: black">
                                <div class="bg-light" style="border-top-left-radius: 50%; border-top-right-radius: 50%; text-align: center; padding-top: 5%;">
                                  <br>
                                  <h2> <b> ARTISTES </b> </h2>
                                  <div style="padding-top: 100%; background: center/100% 100% no-repeat url('https://img.freepik.com/photos-gratuite/artiste-peignant-studio_23-2148017589.jpg?size=626&ext=jpg'); border-radius: 50%">
                                  </div>
                                  <br>
                                  <div style="padding: 0px 25px">
                                    <h3>Recherchez de nouveaux prodiges en parcourant les différents artistes enregistrés !</h3>
                                  </div>
                                  <br>
                                </div>
                              </a>
                            </div>
                            <div class="col-4">
                              <a href="#" style="text-decoration: none; color: black">
                                <div class="bg-light" style="border-top-left-radius: 50%; border-top-right-radius: 50%; text-align: center; padding-top: 5%;">
                                  <br>
                                  <h2> <b> EVENEMENTS </b> </h2>
                                  <div style="padding-top: 100%; background: center/100% 100% no-repeat url('https://www.ouillade.eu/wp-content/uploads/2016/07/IMG_0292.jpg'); border-radius: 50%">
                                  </div>
                                  <br>
                                  <div style="padding: 0px 25px">
                                    <h3> Entrez en relation avec les artistes lors de nos évènements !</h3>
                                  </div>
                                  <br>
                                </div>
                              </a>
                            </div>
                          </div>
                        </section>
                </div>
            </div>


            <!-- Fin du code -->

{% include 'webapp/template_bot.twig' %}