{% include 'webapp/template_top.twig' with template %}

            <!-- Début du code -->
            <style>
                @keyframes col-4-anim {
                    from {opacity: 1;}
                    to {opacity: 0.7;}
                }
                .col-4:hover {
                    animation-name: col-4-anim;
                    animation-duration: 1s;
                    opacity: 0.7;
                }
            </style>


            <div style="width: 100%; background: url('/ressources/background_custom_lightGray.png');">
                <div style="width: 75%; margin: 0px auto 0px; background: url('/ressources/background_custom_gray.png');">
                  <div class="row" style="text-align: center;">
                    <div style="padding-top: 25px; padding-bottom: 100px; width: 100%;" class="cheze">
                      <h1 style="font-weight: 1000; font-size: calc(12vmin);"><b> OANI </b></h1>
                      <p style="font-size: 40px; font-variant: small-caps;"><b>Œuvres&nbsp;&nbsp;.&nbsp;&nbsp;d'Art&nbsp;&nbsp;.&nbsp;&nbsp;Non&nbsp;&nbsp;.&nbsp;&nbsp;Identifiés</b></p>
                    </div>
                  </div>
                    <div class="row" style="margin: 0px;">
                      <div class="col-4">
                        <a href="/%C5%93uvre" style="text-decoration: none; color: black">
                          <div id="id1" class="bg-light" style="height: 150px; border-top-left-radius: 50%; border-top-right-radius: 50%; text-align: center; padding-top: 5%;">
                            <br>
                            <h2> <b> ŒUVRES </b> </h2>
                          </div>
                          <div class="bg-light" style="text-align: center;">
                            <div style="padding-top: 100%; background: center/100% 100% no-repeat url('/ressources/Acceuil_oeuvres.jpg'); border-radius: 50%">
                            </div>
                            <br>
                            <div style="padding: 0px 25px">
                              <h3>Venez découvrir notre galerie d'œuvres d'art spécialisé dans le street art !</h3>
                            </div>
                            <br>
                          </div>
                        </a>
                      </div>
                      <div class="col-4">
                        <a href="/artiste" style="text-decoration: none; color: black">
                          <div class="bg-light" style="height: 150px; border-top-left-radius: 50%; border-top-right-radius: 50%; text-align: center; padding-top: 5%;">
                            <br>
                            <h2> <b> ARTISTES </b> </h2>
                          </div>
                          <div class="bg-light" style="text-align: center;">
                            <div style="padding-top: 100%; background: center/100% 100% no-repeat url('/ressources/Acceuil_artistes.jpg'); border-radius: 50%">
                            </div>
                            <br>
                            <div style="padding: 0px 25px">
                              <h3>Recherchez de nouveaux prodiges en parcourant les différents artistes enregistrés !</h3>
                            </div>
                            <br>
                          </div>
                        </a>
                      </div>
                      <div class="col-4">
                        <a href="#" style="text-decoration: none; color: black">
                          <div class="bg-light" style="height: 150px; border-top-left-radius: 50%; border-top-right-radius: 50%; text-align: center; padding-top: 5%;">
                            <br>
                            <h2> <b> EVENEMENTS </b> </h2>
                          </div>
                          <div class="bg-light" style="text-align: center;">
                            <div style="padding-top: 100%; background: center/100% 100% no-repeat url('/ressources/acceuil_évènements.jpg'); border-radius: 50%">
                            </div>
                            <br>
                            <div style="padding: 0px 25px">
                              <h3>Entrez en relation avec les artistes lors de nos évènements à thèmes !</h3>
                            </div>
                            <br>
                          </div>
                        </a>
                      </div>
                    </div>
                </div>
            </div>


            <!-- Fin du code -->

{% include 'webapp/template_bot.twig' %}