{% include 'webapp/template_top.twig' with template %}
            <!-- Début du code -->


            <div class="bg-primary" style="width: 100%;">
                <div class="bg-dark" style="width: 75%; margin: 0px auto 0px">
                    <h1>Connexion</h1>
                </div>
            </div>


            <!-- Fin du code -->

{% include 'webapp/template_bot.twig' %}