{% include 'webapp/template_top.twig' with template %}
            <!-- Début du code -->


            <div class="bg-primary">
                <div class="container-fluid d-flex bg-dark" style="width: 80%">
                    <div class="bg-light p-3" style="width: 75%">
                        <h1>Vitrine</h1>
                        <br>
                        <div class="container-fluid">
                        {% for i in 0..5 %}
                            <div class="row">
                                {% for j in 0..3 %}
                                <div class="col bg-warning p-3" style="display: block; padding-top: 100%; border: 1px solid black;">
                                    <div class="bg-dark">
                                        t
                                    </div>
                                    <div class="bg-primary">
                                        t
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        </div>

                    </div>
                    <div class="bg-warning" style="width: 25%">
                        <h1>Filtre</h1>
                        <br>
                        <p>
                            des filtres
                        </p>
                        <p>
                            des filtres
                        </p>
                        <p>
                            des filtres
                        </p>
                        <p>
                            des filtres
                        </p>
                        <p>
                            des filtres
                        </p>
                        <p>
                            des filtres
                        </p>
                        <p>
                            des filtres
                        </p>
                        <p>
                            des filtres
                        </p>
                        <p>
                            des filtres
                        </p>
                        <p>
                            des filtres
                        </p>
                        <p>
                            des filtres
                        </p>
                        <p>
                            des filtres
                        </p>
                    </div>
                </div>
            </div>


            <!-- Fin du code -->

{% include 'webapp/template_bot.twig' %}