{% include 'webapp/template_top.twig' with template %}
            <!-- Début du code -->


            <div class="bg-primary">
                <div class="container-fluid d-flex bg-dark" style="width: 80%">
                    <div class="bg-light" style="width: 75%">
                        <h1>Vitrine</h1>
                        <br>
                        <p>
                            des éléments
                        </p>
                        <p>
                            des éléments
                        </p>
                        <p>
                            des éléments
                        </p>
                        <p>
                            des éléments
                        </p>
                        <p>
                            des éléments
                        </p>
                        <p>
                            des éléments
                        </p>
                        <p>
                            des éléments
                        </p>
                        <p>
                            des éléments
                        </p>
                        <p>
                            des éléments
                        </p>
                        <p>
                            des éléments
                        </p>
                        <p>
                            des éléments
                        </p>
                        <p>
                            des éléments
                        </p>
                    </div>
                    <div class="bg-warning" style="width: 25%">
                        <h1>Filtre</h1>
                        <br>
                        <p>
                            des filtres
                        </p>
                        <p>
                            des filtres
                        </p>
                        <p>
                            des filtres
                        </p>
                        <p>
                            des filtres
                        </p>
                        <p>
                            des filtres
                        </p>
                        <p>
                            des filtres
                        </p>
                        <p>
                            des filtres
                        </p>
                        <p>
                            des filtres
                        </p>
                        <p>
                            des filtres
                        </p>
                        <p>
                            des filtres
                        </p>
                        <p>
                            des filtres
                        </p>
                        <p>
                            des filtres
                        </p>
                    </div>
                </div>
            </div>


            <!-- Fin du code -->

{% include 'webapp/template_bot.twig' %}