{% include 'webapp/template_top.twig' with template %}
           
            <!-- Début du code -->


            <div style="width: 100%; background: url('/ressources/background_custom_lightGray.png');">
                <div style="width: 75%; margin: 0px auto 0px; background: url('/ressources/background_custom_gray.png'); min-height: 600px; padding: 50px;">
					<div class= "heading">
						<h1> QUI SOMMES-NOUS? </h1>
					</div>

					<div style="text-align: center; padding-top: 50px; padding-bottom: 20px">
						<i><h2>Site développé sous <span style="font-variant: small-caps;">`ProperLease`</span> par :</h2></i>
					</div>
                    <div class="row" style="margin: 0px;">
                      <div class="col-3">
                          <div class="bg-light" style="height: 150px; border-top-left-radius: 50%; border-top-right-radius: 50%; text-align: center; padding-top: 5%;">
                            <br>
                            <h2> <b> Eddy DULCHE </b> </h2>
                          </div>
                          <div class="bg-light" style="text-align: center;">
                            <div style="padding-top: 100%; background: center/100% 100% no-repeat url('/ressources/devs/Eddy.JPG'); border-radius: 50%">
                            </div>
                          </div>
                      </div>
                      <div class="col-3">
                          <div class="bg-light" style="height: 150px; border-top-left-radius: 50%; border-top-right-radius: 50%; text-align: center; padding-top: 5%;">
                            <br>
                            <h2> <b> BONI François </b> </h2>
                          </div>
                          <div class="bg-light" style="text-align: center;">
                            <div style="padding-top: 100%; background: center/100% 100% no-repeat url('/ressources/devs/François.jpg'); border-radius: 50%">
                            </div>
                          </div>
                      </div>
                      <div class="col-3">
                          <div class="bg-light" style="height: 150px; border-top-left-radius: 50%; border-top-right-radius: 50%; text-align: center; padding-top: 5%;">
                            <br>
                            <h2> <b> JANUSCACK Guillaume </b> </h2>
                          </div>
                          <div class="bg-light" style="text-align: center;">
                            <div style="padding-top: 100%; background: center/100% 100% no-repeat url('/ressources/devs/Guillaume.jpg'); border-radius: 50%">
                            </div>
                          </div>
                      </div>
                      <div class="col-3">
                          <div class="bg-light" style="height: 150px; border-top-left-radius: 50%; border-top-right-radius: 50%; text-align: center; padding-top: 5%;">
                            <br>
                            <h2> <b> HRELJA Adin </b> </h2>
                          </div>
                          <div class="bg-light" style="text-align: center;">
                            <div style="padding-top: 100%; background: center/100% 100% no-repeat url('/ressources/devs/Adin.jpg'); border-radius: 50%">
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                </div>
            </div>


            <!-- Fin du code -->

{% include 'webapp/template_bot.twig' %}