{% include 'webapp/template_top.twig' with template %}
           
            <!-- Début du code -->


            <div style="width: 100%; background: url('/ressources/background_custom_lightGray.png');">
                <div style="width: 75%; margin: 0px auto 0px; background: url('/ressources/background_custom_gray.png');">
                   <section id="QSN" class="container-fluid SignIn" style="padding-bottom: 50px; text-align: center; min-height: 600px;">
										<div class="container">
											<div class="row">
												<div class= "heading">
													<h1> QUI SOMMES-NOUS? </h1>
												</div>
											</div>
										
											<div class="row">
												<div class="col-sm-4">
												</div>
												<div class="col-sm-4">

													<p> Nous sommes les rois du PAFF</p>
												
												</div>
												<div class="col-sm-4">
													
												</div>
												
										</div>
									
									</section>
                </div>
            </div>


            <!-- Fin du code -->

{% include 'webapp/template_bot.twig' %}