<!doctype html>
<html lang="fr">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>{{template.title}}</title>
    </head>
    <body style="background: black; border: 2px solid red; overflow-x: hidden; min-height: 100vh">
        <nav class="navbar navbar-expand fixed-top navbar-light bg-warning" style="padding: 0px 15% 0px">
            <a class="navbar-brand" href="/">
                <img src="/ressources/Oani_logo.png" style="max-width: 30px; max-height: 30px;">
                OANI
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav">
                    <span class="nav-item nav-link">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <a class="nav-item nav-link {% if template.active == "Acceuil" %} active {% endif%}" href="/acceuil">Acceuil</a>
                    <a class="nav-item nav-link{% if template.active == "Œuvre" %} active {% endif%}" href="/œuvres">Œuvre</a>
                    <a class="nav-item nav-link{% if template.active == "Artiste" %} active {% endif%}" href="/artistes">Artiste</a>
                    <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Évènement</a>
                    <a class="nav-item nav-link {% if template.active == "Qui sommes-nous ?" %} active {% endif%}" href="qui-sommes-nous">Qui sommes-nous ?</a>
                </div>
            </div>
            <div class="navbar-nav">
                <a class="nav-item nav-link {% if template.active == "Connexion" %} active {% endif%}" href="/connexion">Connexion</a>
                <a class="nav-item nav-link {% if template.active == "Inscription" %} active {% endif%}" href="/inscription">Inscription</a>
            </div>
        </nav>

        <div class="container-fluid" style="height: 400px; overflow: hidden; background: center/100% url('{{template.image}}')">
            <div class="container-fluid" style="position: absolute; top: 200px;">
                <div style="text-align: center;">
                    <h1 class="text-light"><b>{{template.title}}</b></h1>
                </div>
            </div>
        </div>
        <div>