{% include 'panel admin/panel_admin_template_top.twig' %}
        <!-- Début du code -->
		<form action="" method="POST">
			{% include 'panel admin/adresse_template.twig' %}
		</form>
        <!-- Fin du code -->
{% include 'panel admin/panel_admin_template_bot.twig' %}