{% include 'panel admin/panel_admin_template_top.twig' %}
        <!-- Début du code -->
		<form action="" method="POST" enctype="multipart/form-data">
			
			{% include 'panel admin/utilisateur_template.twig' with {'foo' : 'bar'} %}
			
			<button type="submit" class="btn btn-primary">Enregistrer</button>
        </form>
        <!-- Fin du code -->
{% include 'panel admin/panel_admin_template_bot.twig' %}