body{
	font-family: :'Lato', sans-serif;
}

h1,h2,h3,h4,h5,h6
{
	font-weight: bold;
}
img
{
	max-width: 100%;
	height: auto;
}

/* plus*/

#Main
{
	padding-top: 100px;
	background: #d82c2e;
	text-align: center;
	margin: 0 auto;
	
}

.profile-entreprise
{
	
	margin: 0 auto;
	padding-bottom: 20px;
	float: none;
	
}

.heading
{
text-align: center;

}

.contact-us
{
	padding-top: 60px;
	text-align: center;
	float: none;
}
#Contact
{
	background: blue;
	text-align: center;
	margin: 0 auto;
	
}
.aka
{
	padding-bottom: 10px;
}

#SignIn
{
	text-align: center;
	margin: 0 auto;
}